@using EPiServer.Shell.Navigation

@{
    var title = ViewBag.Title ?? "Virtual Text Editor";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Util/images/favicon.ico" type="image/x-icon">
</head>
<body>
@Html.AntiForgeryToken()
@Html.CreatePlatformNavigationMenu()
<div @Html.ApplyPlatformNavigation()>
    <div class="content-area-container">
        <div class="Toastify"></div>
        <div class="axiom-layout-grid-container">
            <div class="axiom-layout-grid">
                <div
                    class="axiom-layout-grid__cell axiom-layout-grid__cell--span-4-small axiom-layout-grid__cell--span-8-medium axiom-layout-grid__cell--span-12-large axiom-layout-grid__cell--span-12-xlarge">
                    <div class="axiom-grid-container">
                        <div>
                            <div class="axiom-grid__cell axiom-grid__cell--span-4-small axiom-grid__cell--span-8-medium axiom-grid__cell--span-12-large">
                                <div class="epi-main-header">
                                    <h1 class="axiom-typography--header1">@title</h1>
                                </div>
                            </div>
                            <div class="plugin-view-container">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>